


.footer-area {
margin-top: 0%;
padding: 40px 0;
background:linear-gradient(to right, rgba(255, 0, 0, 0), rgb(240, 122, 54));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2',GradientType=1 );
font-family: nunito;
position:relative;

}
.main {
width: 1200px;
margin: 0 auto;
height:10%;
}
.footer {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
flex-direction: row;

}
.single-footer {
width: 230px;
}
.single-footer:first-child {
width: 400px;
}
.single-footer h4 {
text-transform: capitalize;
font-size: 22px;
margin-bottom: 20px;
}
.footer-social a {
color: rgb(10, 10, 10);
border: 1px solid rgb(14, 13, 13);
width: 40px;
height: 40px;
display: inline-block;
text-align: center;
line-height: 40px;
border-radius: 50%;
margin-right: 10px;
}
.footer-social {
margin-top: 20px;
}
.single-footer ul {
list-style: none;
}
.single-footer ul li {
margin-bottom: 10px;
position: relative;
padding-left: 20px;
}
.single-footer ul li a {
color: rgb(12, 12, 12);
text-transform: none;
text-decoration: none;
}
.single-footer ul li a i {
position: absolute;
left: 0;
top: 5px;
}

.copy {
text-align: center;
text-transform: capitalize;
margin-top: 40px;
}

.footer-wave-box {
position: absolute;
left: 0;
top: 0;
height: 45px;
right: 0;
width: 100%;
overflow:hidden;
}
.footer-wave {
background-image: url('img/footer-shape.png');
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 200%;
background-size:50%;

background-repeat:repeat-x;
}

.footer-animation{
  animation: footer_wave 5s linear infinite;
  left:auto;
  right:0;
}
@keyframes footer_wave{
0%{
    transform:translateX(0%);
}
50%{
  transform:translateX(25%);
}
100%{
  transform:translateX(50%);
}
}

@keyframes footer_wave{
0%{
    transform:translateX(0%);
}
50%{
  transform:translateX(25%);
}
100%{
  transform:translateX(50%);
}
}

@keyframes footer_wave{
0%{
    transform:translateX(0%);
}
50%{
  transform:translateX(25%);
}
100%{
  transform:translateX(50%);
}
}

@keyframes footer_wave{
0%{
    transform:translateX(0%);
}
50%{
  -transform:translateX(25%);
}
100%{
  transform:translateX(50%);
}
}

@media only screen and (max-width:600px){
.main{
  width:320px;
}
.footer-wave-box {
  display: none;
}
.single-footer:first-child, .single-footer {
  width: 100%;
  margin-bottom:30px;
}
}