html.has-scroll-smooth {
  overflow: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.scroll i {
  background: rgba(15, 20, 30, 0.3);
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 30px;
  z-index: 20;
  cursor: pointer;
  border: 0 none;
  border-radius: 25px;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1) 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  align-items: center;
  font-size: 25px;

  color: white;

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.3s ease-in-out;

  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
}

.scroll i:hover {
  background: black;
  transition: 0.5s;
}

.text-zone {
  display: flex;
  min-height: fit-content;
  justify-content: flex-start;
  animation: drop 2s ease;
}



@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(-215px);
  }
}


.tags {
  color: #5c5c5c;
  position: absolute;

  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
}

.text-zone p a {
  color: #0a0a0a;
  text-decoration: none;
  background-color: transparent;
}
.text-zone p a:hover {
  color: rgb(151, 150, 150);
}

.ab {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.container.skills .text-zone h1 {
  margin-top: 140px;
  margin-bottom: 40px;
  position: relative;
  display: block;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: rgb(77, 75, 75);
}

.ab:hover {
  /* animation: rubberBand 5s infinite; */
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.text-zone h1:before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #5c5c5c;
  font-size: 18px;
  position: absolute;
  margin-top: -35px;
  left: -10px;
}

.container.skills .text-zone h1:after {
  content: "<h1/>";
  font-family: "La Belle Aurore", cursive;
  color: #5c5c5c;
  font-size: 18px;
  position: absolute;
  left: -35px;
  bottom: -40px;
  margin-left: 20px;
}

.text-zone {
  position: absolute;
  left: 5%;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: relative;
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  width: 95%;
  margin: auto;
  height: 8vh;
  align-items: center;
}

.text-zone p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: none;
  font-family: Nunito;
  color: rgb(151, 150, 150);
  font-weight: 600;
}

.tagBall {
  height: 500px;
  position: relative;

  z-index: 1;
}

.skill {
  margin-top: 3%;

  margin-left: 80%;
  display: flex;
}

.tag {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  color: rgb(12, 11, 11);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: Nunito;
}
.tag:hover {
  border: 1px solid #666;
}

.menu h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-family: Nunito;
  padding-top: 30px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}
.logo-container,
.nav-links {
  display: flex;
  margin-top: 3%;
}

@media (max-width: 991px) {
  .skill {
    flex-direction: column;
  }

  .skill {
    margin-top: 140%;

    margin-left:47%;
  }

  .tagBall {
    height: 300px;
  }

  .text-zone {
    margin-top: -30%;
    width: fit-content;
    animation: drop1 1s ease;
  }

  @keyframes drop1 {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(-250px);
    }
  }

  .text-zone p {
    text-align: justify;
    margin-right: 7%;
  }

  i {
    margin-bottom: -7%;
    margin-right: -8%;
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

.middle {
  align-content: center;
  margin-left: 7%;
  margin-bottom: 3%;
  
}

.slideshow-container {
  position: relative;
  width: 92%;
  overflow: hidden;

  margin-top: 4%;
}
.image-container {
  display: block;
  overflow: hidden;
}
.image-container .image {
  width: 100%;
  max-height: 600px;
  margin: 0px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: 22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
  user-select: none;
}
.next {
  right: 0px;
  border-radius: 3px 0px 0px 3px;
}
.prev:hover,
.next:hover {
  background-color: black;
}
.dot-container {
  text-align: center;
}
.dot {
  position: inherit;
  top: -30px;
  height: 3px;
  width: 36px;
  background-color: rgb(10, 10, 10);
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s;
}
.active,
.dot:hover {
  background-color: rgb(61, 199, 218);
}

.fade {
  animation: fade 0.3s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media only screen and (max-width: 700px) {
  .prev,
  .next {
    padding: 12px;
    font-size: 18px;
  }
  .dot-container {
    padding: 0px;
  }
  .dot {
    height: 4px;
    width: 18px;
  }
  .slideshow-container {
    margin-top: 20%;
    width: 95%;
    margin-left: -1%;
    align-content: center;
  }
  .image-container .image {
    height: 300px;
    border-radius: 15%;
  }
}

/*  Work Ex */

.container{
  width: 100%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-top: 2rem;
  font-family: nunito;
  margin-left: 39%;

}

.section-heading h1{
  font-size: 2rem;
  color: rgba(14, 13, 13, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h6{
  font-size: 1.3rem;
  
  font-weight: 300;
 
}
.section-heading h1::before,
.section-heading h1::after{
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%);
  background-color:rgba(14, 13, 13, 0.75); 
}

.section-heading h1::before{
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h1::after{
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  bottom: -.9rem;
}


.timeline {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  padding: 40px 0;
  margin-top: -33%;
  
  
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 90%;
  background: #c5c5c5;
  
}

.timeline ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
}

.timeline ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
  list-style: none;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff6666;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(221, 118, 21, 0.2);
  top: 24px;
  right: -6px;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background:#ff6666;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
  top: 24px;
  left: -4px;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #ff6666;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #ff6666;
  color: white;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background:#ff6666;
  color: white;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

@media (max-width: 991px) {
  .timeline {
    width: 100%;
    margin-top: -100%;
  }

  .section-heading{
    width: 100%;
    margin-left:0% ;
  }


  
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }

  .timeline:before {
    left: 20px;
    margin-top: -2%;
  }
  .timeline  ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline ul li:nth-child(odd){
    text-align: left;
  }

  .timeline ul li:nth-child(odd)::before,
  .timeline ul li:nth-child(even)::before{
   
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline  ul li:nth-child(even) .time{

  top: -30px;
  left: 50px;
  right: inherit;
}
}

/*--------------------------------*/

