html.has-scroll-smooth {
  overflow: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white url("loader.gif") no-repeat;
  background-position: center;
  z-index: 9999;
}

.container-zone {
  display: flex;
  min-height: fit-content;
  justify-content: flex-start;
}

.tags {
  color: #5c5c5c;
  position: absolute;

  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
}

.text-zone p a {
  color: #0a0a0a;
  text-decoration: none;
  background-color: transparent;
}
.text-zone p a:hover {
  color: rgb(151, 150, 150);
}

.ab {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.container.skills .text-zone h1 {
  margin-top: 140px;
  margin-bottom: 40px;
  position: relative;
  display: block;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: rgb(77, 75, 75);
}

.ab:hover {
  /* animation: rubberBand 5s infinite; */
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

h1:before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #5c5c5c;
  font-size: 18px;
  position: absolute;
  margin-top: -35px;
  left: -10px;
}

.container.skills .text-zone h1:after {
  content: "<h1/>";
  font-family: "La Belle Aurore", cursive;
  color: #5c5c5c;
  font-size: 18px;
  position: absolute;
  left: -35px;
  bottom: -40px;
  margin-left: 20px;
}

.text-zone {
  position: absolute;
  left: 10%;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: relative;
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  width: 95%;
  margin: auto;
  height: 8vh;
  align-items: center;
}

.text-zone p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: none;
  font-family: Nunito;
  color: rgb(151, 150, 150);
  font-weight: 600;
}

.tagBall {
  height: 500px;
  position: relative;

  z-index: 2;
}

.skill {
  margin-top: 3%;

  margin-left: 80%;
  display: flex;
}

.tag {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  color: rgb(12, 11, 11);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: Nunito;
}
.tag:hover {
  border: 1px solid #666;
}

.menu h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-family: Nunito;
  padding-top: 30px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}
.logo-container,
.nav-links {
  display: flex;
  margin-top: 3%;
}

@media (max-width: 991px) {
  .skill {
    flex-direction: column;
  }

  .skill {
    margin-top: 170%;

    margin-left: 50%;
  }

  .tagBall {
    height: 300px;
  }

  .text-zone {
    margin-top: -30%;
    width: fit-content;
  }

  .text-zone p {
    text-align: justify;
    margin-right: 7%;
  }
}
