* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  width: 95%;
  margin: auto;
  height: 8vh;
  align-items: center;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white url("loader.gif") no-repeat;
  background-position: center;
  z-index: 9999;
}

.nav {
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.logo-container {
  flex: 1;
}

nav {
  flex: 2;
}

.menu h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-family: Nunito;
  padding-top: 30px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}

a {
  text-decoration: none;
}

.social a {
  padding: 20px;
  columns: #252525;
  font-size: 1.3rem;
  color: black;
}

.fa-facebook-f:hover {
  color: rgb(47, 133, 231);
}

.fa-instagram:hover {
  color: rgb(241, 35, 35);
}

.fa-twitter:hover {
  color: rgb(35, 165, 241);
}

#contact {
  position: relative;
  left: 22%;
  margin-top: 24%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.social a:hover {
  transition: all ease 0.3s;
}

.contact-box {
  background-color: #434445;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
}

.c-heading h1 {
  color: #e7eef3;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  font-family: roboto;
  font-weight: 100;
  margin-left: 6%;
}

.c-heading p {
  font-family: nunito;
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.1rem;
}

.c-inputs {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-inputs input {
  width: 250px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  outline: none;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: #f4f4f4;
  display: flex;
}

.c-inputs textarea {
  width: 250px;
  height: 200px;
  outline: none;
  border: rgba(0, 0, 0, 01);
  border: 1px solid rgba(82, 82, 82, 01);
  color: #070707;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.c-inputs button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  cursor: pointer;
  font-family: nunito;
}

.c-inputs textarea:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  transition: all ease 0.5s;
}

.c-inputs button:active {
  transform: scale(1.02);
}

.map {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #a7a3a3;
}

.letters {
  display: flex;
  display: block;
  position: fixed;
  width: 490px;
  height: 440px;
  top: 12%;
  left: 102%;
  z-index: 1;
}

.letters > i {
  position: relative;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  /* font-family: "Helvetica Now Display DW",sans-serif; */
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 4.5rem;
  color: #cfd0d2;
  text-align: center;
  margin: 40px 50px 0 0;
  text-decoration: none;
  z-index: -1;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(20deg);
  }

  95% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.letters i {
  display: inline-block;
  animation: wiggle 3s infinite;
}

.letters i:hover {
  animation: none;
}

@media (max-width: 1100px) {
  .map {
    display: none;
  }

  .container {
    display: none;
  }
}

@media (max-width: 450px) {
  .social {
    display: none;
  }
  .contact-box {
    width: 100%;
    height: 90 vh;
    box-sizing: border-box;
    margin-right: 1%;
  }
  #contact {
    position: static;
    transform: translate(0, 0);
    width: 90%;
    height: 100vh;
    box-sizing: border-box;
   
  }

  .c-heading h1 {
    font-size: 2.2rem;
  }

  .letters {
    display: none;
  }

  .section-heading{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .contact-box {
    margin-top: -25%;
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

.transition-left {
  transition: 0.4s;
  transform: translateX(0);
}

html.is-animating .transition-left {
  opacity: 0;
  transform: translateX(-100px);
}

.container {
  width: 100%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-right: -360%;
  margin-top: -79%;
  font-family: nunito;
}

.section-heading h1 {
  font-size: 1.6rem;
  color: rgba(14, 13, 13, 0.3);
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h6 {
  font-size: 1rem;

  font-weight: 300;
}
.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(14, 13, 13, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  bottom: -0.9rem;
}
