* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white url("loader.gif") no-repeat;
  background-position: center;
  z-index: 9999;
}

header {
  display: flex;
  width: 95%;
  margin: auto;
  height: 8vh;
  align-items: center;
}

.logo-container,
.nav-links {
  display: flex;
}

.nav {
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.logo-container {
  flex: 1;
}

nav {
  flex: 2;
}

.presentation {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
  animation: drop 2s ease;
}

.cover {
  flex: 1;
  height: 89vh;
  justify-content: flex-end;
  display: flex;
}

.introduction {
  flex: 1;
}

.cover img {
  height: 100%;
  align-content: center;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 2s ease;
  z-index: -2;
}

.introduction h5,
.menu h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-family: Nunito;
  padding-top: 30px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}

.intro-text h1 {
  font-size: 4rem;
  line-height: 4rem;
  padding-top: -10px;
  padding-bottom: 18px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #0f141e;
  margin-top: 30px;
  font-family: Volkhov;
}

.cta h3 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 2px;
  text-transform: none;
  font-family: Nunito;
  color: rgb(141, 138, 138);
  padding-top: 10%;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -3;
  opacity: 0.4;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 25%;
  z-index: -3;
  height: 60%;
  opacity: 0.3;
}
.small-circle {
  position: absolute;
  bottom: 2%;
  left: 25%;
  z-index: -3;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }

  .introduction {
    text-align: center;
  }

  .intro-text h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 18px;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #0f141e;
    font-family: Volkhov;
  }

  .cta h3 {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    text-transform: none;
    font-family: Nunito;
    color: rgb(141, 138, 138);
    padding-top: 5%;
  }

  .cover img {
    height: 75%;
    align-content: center;
  }
  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
    display:none;
  }
}

.cart {
  position: relative;
}

@media screen and (max-width: 480px) {
  .cover img {
    height: 60%;
    align-content: center;
  }
}

.introduction h5 {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
}
@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 120%;
    margin-left: 25%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 250%;
  }
  75% {
    font-size: 120%;
    margin-left: 25%;
    width: 130%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

span:before {
  content: "";
  animation: animate 10s infinite;
}
@keyframes animate {
  0% {
    content: "Electronics Engg";
    -moz-animation-delay: 4s;
  }
  60% {
    content: "Designer";
    -moz-animation-delay: 2s;
  }
  100% {
    content: "Full Stack Developer";
    transition-delay: 2s;
  }
}

:root {
  --clr-primary: #87868a;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 5rem;
  z-index: -2;
  filter: drop-shadow(0px 5px 3px rgb(65, 64, 64));
}

@media screen and (max-width: 480px) {
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    align-content: center;
    border-radius: 1rem;
    position: relative;
    width: 220px;
    margin-bottom: 3rem;
    margin-left: 5rem;
    z-index: -2;
    filter: drop-shadow(0px 5px 3px rgb(65, 64, 64));
  }
}
.banner-img {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Volkhov;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
  font-family: Nunito;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
  font-family: Nunito;
}

.project h1 {
  font-size: 2rem;
  line-height: 2rem;

  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #0f141e;
  margin-top: 20px;
  font-family: Volkhov;
  padding-left: 30px;
}

.parallax {
  /* The image used */
  background-image: url("");

  /* Set a specific height */
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
