@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white url("loader.gif") no-repeat;
  background-position: center;
  z-index: 9999;
}

header {
  display: flex;
  width: 95%;
  margin: auto;
  height: 7vh;
  align-items: center;
}

.scroll i {
  background: rgba(15, 20, 30, 0.3);
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 30px;
  z-index: 20;
  cursor: pointer;
  border: 0 none;
  border-radius: 25px;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1) 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  align-items: center;
  font-size: 25px;

  color: white;

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.3s ease-in-out;

  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
}

.scroll i:hover {
  background: black;
  transition: 0.5s;
}

.nav {
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.logo-container {
  flex: 1;
}

nav {
  flex: 2;
}

.presentation {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
  min-height: 90vh;
  align-items: center;
  animation: drop 2s ease;
}

.cover {
  flex: 1;
  height: 89vh;
  justify-content: center;
  display: flex;
}

.introduction {
  flex: 1;
}

.cover img {
  height: 100%;
  align-content: center;
  filter: drop-shadow(0px 5px 3px black);
  
  z-index: -1;
}

.introduction h5,
.menu h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-family: Nunito;
  padding-top: 30px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}

.menu {
  z-index: 2;
}

.intro-text h1 {
  font-size: 4rem;
  line-height: 4rem;
  padding-top: -10px;
  padding-bottom: 18px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #0f141e;
  margin-top: 30px;
  font-family: Volkhov;
}

.cta h3 {
  font-size: 1.2rem;
  line-height: 1.875rem;
  letter-spacing: 1.3px;
  text-transform: none;
  font-family: Nunito;
  color: rgb(141, 138, 138);
  padding-top: 8%;
  text-align: justify;
}

.links {
  margin-top: 2%;
}

.links a {
  color: black;
  border: 0 none;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-family: "roboto";
  font-weight: 900;
  position: relative;
  font-size: 1.12rem;
  border: 0 none;
  display: inline-block;
  line-height: 1;
}

.links a:hover ~ .cursor {
  transform: scale(6);
}

.links h4 {
  display: inline;
  margin-right: 1%;
}

.links h6 {
  padding: 7px;
  font-weight: 200;
  color: #87868a;
  font-size: 80%;
  text-transform: uppercase;
  font-family: nunito;
  display: inline;
  margin-right: 1%;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -4;
  opacity: 0.4;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 25%;
  z-index: -4;
  height: 60%;
  opacity: 0.3;
}
.small-circle {
  position: absolute;
  bottom: 2%;
  left: 25%;
  z-index: -4;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }

  .intro-text h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 18px;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #0f141e;
    font-family: Volkhov;
  }

  .cta h3 {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    text-transform: none;
    font-family: Nunito;
    color: rgb(141, 138, 138);
    padding-top: 5%;
    text-align: justify !important;
  }

  .cover img {
    height: 75%;
    align-content: center;
  }
  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
    display: none;
  }
}

@media screen and (max-width: 660px) {
  a.contact-link {
    margin-left: -8%;
    margin-bottom: -7%;
  }

  i {
    margin-bottom: -7%;
    margin-right: -8%;
  }

  .logo{
    height: 80px !important;
    width: 80px !important;
  }

  .cover {
    display: none;
  }

  .introduction {
    margin-top: 68%;
  }

  .introduction h5 {
    -moz-animation-duration: 0s;
    -webkit-animation-duration: 0s;
    -moz-animation-name: none;
    -webkit-animation-name: none;
  }

  .presentation {
    background-image: url("home.png");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 7px;
  }

  #cursor {
    display: none;
  }

  .links a:hover {
    color: #2f2f2f !important;
  }

  .info-image img {
    width: 100%;
  }

  .global-headline .sub-headline {
    letter-spacing: 5%;
  }

  .between {
    margin-top: 20% !important;
  }

  .global-headline .asterisk {
    margin: 1rem 0px !important;
  }

  .info-image {
    width: 100%;
    height: 80%;
  }
}

.introduction h5 {
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
}
@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 120%;
    margin-left: 25%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 250%;
  }
  75% {
    font-size: 120%;
    margin-left: 25%;
    width: 130%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

span:before {
  content: "";
  animation: animate 10s infinite;
}
@keyframes animate {
  0% {
    content: "Electronics Engg";
    -moz-animation-delay: 4s;
  }
  60% {
    content: "Designer";
    -moz-animation-delay: 2s;
  }
  100% {
    content: "Full Stack Developer";
    transition-delay: 2s;
  }
}

:root {
  --clr-primary: #87868a;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

.project h1 {
  font-size: 2rem;
  line-height: 2rem;

  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #0f141e;
  margin-top: 20px;
  font-family: Volkhov;
  padding-left: 30px;
}

.parallax {
  /* The image used */
  background-image: url("");

  /* Set a specific height */
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .container {
  margin-top: -5%;
}

a.contact-link {
  background: rgba(15, 20, 30, 0.3);
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 40px;
  bottom: 30px;
  padding: 13px;
  border: 0 none;
  border-radius: 25px;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1) 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-decoration: none;
  z-index: 2;
}

a.contact-link::after {
  border: 3px solid rgb(7, 7, 7);
  animation: pulse 3s ease infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

.contact-link i {
  color: white;
  font-size: 145%;
}

a.contact-link:hover {
  background: black;
  transition: 0.5s;
}

.message {
  color: white;
  font-size: 1.5rem;
  margin-top: -20%;
}

[data-scroll] {
  transition: all 2s;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 1;
  transform: translateX(-200);
}

#cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #0a0a0a;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease;

  animation-name: none;
  z-index: 200;
}

.links a:hover {
  color: white;
}

/*---------------------------------------------------------*/

.parallax,
.culinary-delight img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

a {
  text-decoration: none;
}

.global-headline {
  text-align: center;
  margin-top: 3.9rem;
  font-family: var(secondary-font);
}

.parallax,
.global-headline {
  margin-top: 5rem;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2rem 0 1rem;
}

.top {
  letter-spacing: 0.2rem;
  margin-right: 0rem;
  color: rgb(17, 17, 17) !important;
}

.headline-dark {
  letter-spacing: 0.2rem;
  margin-right: -0.7rem;
  margin-top: 2%;
  color: rgb(17, 17, 17) !important;
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: 0.82;
}

.sub-headline {
  font-size: 5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 500;
  line-height: 0.5;
  letter-spacing: 10px;
}

.headline {
  color: white;
  font-size: 1.5rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  margin-right: -0.5rem;
}

.info {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.info-image {
  filter: drop-shadow(0px 6px 4px black);
}

.description {
  margin-bottom: 3rem;
}

.description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
  font-family: nunito;
}

.body-btn {
  font-size: 1.2rem;
  position: relative;
  transition: color 0.5s;
  text-decoration: none;
  color: black;
  font-family: roboto;
  text-transform: uppercase;
}

.body-btn:hover,
.body-btn:focus {
  color: aliceblue;
}

.body-btn:hover::before,
.body-btn:focus::before {
  color: aliceblue;
  background-color: rgb(248, 245, 245);
}

/*-----------------------*/

.tasteful-recipes {
  background: url("mode1.jpg") center no-repeat;
  background-size: cover;
  background-position-y: 20px;
}

.tasteful-recipes .global-headline {
  text-align: left;
}

.between {
  min-height: 75vh;
  display: flex;
  align-items: center;
  margin-top: -10%;
}

/*-------------------------*/

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.image-group img {
  width: 100%;
  filter: drop-shadow(0px 3px 3px black);
}

.discover-our-menu .description {
  margin-top: 3rem;
  margin-bottom: 0;
}

/*----------------*/
.perfect-blend {
  background: url("neural1.jpg") center no-repeat;
  background-size: cover;
}

.perfect-blend {
  margin-top: 12%;
}

@media screen and (max-width: 900px) {
  .presentation {
    flex-direction: column;
  }

  #mid {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .info {
    display: flex;
    align-items: center;
  }

  .info > div {
    flex: 1;
  }

  .padding-right {
    padding-right: 1rem;
  }
}

.container a {
  display: inline-block;
  padding: 8px 16px;
  background: #eb7633;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: Nunito;
  border-radius: 10px;

}

/*Animation--------*/
